mixin quotes-section(img)
  section.page-section.-quotes&attributes(attributes)
    .img(style={"background-image": `url(assets/${img})`})
      .filler
    .text
      block

mixin gridSpan(col,row,h,w)
  div(style={'grid-area': `${col} / ${row} / span ${w} / span ${h}`})&attributes(attributes)
    block


doctype html
html(lang='ru')
  head
    meta(name='charset' content='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='"Что такое кибернетизация для россиян?" - результаты социологического исследования группы ИУ6-12Б МГТУ им. Н.Э.Баумана')
    title Что такое кибернетизация для россиян?
    link(rel='prefetch' href='https://mc.webvisor.org')
    link(rel='prefetch' href='https://mc.yandex.ru')
    link(href='./main.css' rel='stylesheet')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,900&display=swap")
  body
    main#js-fullpage
      include viewports/title
      include viewports/definition
      include viewports/usage
      include viewports/limits
      include viewports/pros-cons
      include viewports/fashion
      include viewports/sport
      include viewports/abroad
      include viewports/russia
      include viewports/summary

    script(src='./assets/js/quotes-animation.js')
    script(src='./assets/js/anim-scroll.js')

    script.
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })(window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(56713492, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    noscript
      div
        img(src='https://mc.yandex.ru/watch/56713492' style={position: 'absolute', left: '-100vw'})
