mixin quotes-section(img)
  section.page-section.-quotes&attributes(attributes)
    .img(style={"background-image": `url(assets/${img})`})
      .filler
    .text
      block

mixin gridSpan(col,row,h,w)
  div(style={'grid-area': `${col} / ${row} / span ${w} / span ${h}`})&attributes(attributes)
    block


html
  head
    link(href='./main.css' rel='stylesheet')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,900&display=swap")
  body
    main
      include viewports/title
      include viewports/summary
      include viewports/some-quotes
      include viewports/golden-grid-example
    footer
      a(href='https://github.com/BANOnotIT/cybernetization') Sources 2019 &copy; BANO.notIT

    script(src='./assets/quotes-animation.js')