mixin quotes-section(img)
  section.page-section.-quotes&attributes(attributes)
    .img(style={"background-image": `url(assets/${img})`})
      .filler
    .text
      block

mixin gridSpan(col,row,h,w)
  div(style={'grid-area': `${col} / ${row} / span ${w} / span ${h}`})&attributes(attributes)
    block


html
  head
    link(href='./main.css' rel='stylesheet')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat:400,900&display=swap")
  body
    main#js-fullpage
      include viewports/pros-cons
      include viewports/abroad
      include viewports/russia
      include viewports/fashion
      include viewports/sport
      include viewports/limits
      //include viewports/summary
      include viewports/usage
      include viewports/title
      //include viewports/some-quotes
      //include viewports/golden-grid-example
    footer
      a(href='https://github.com/BANOnotIT/cybernetization') Sources 2019 &copy; BANO.notIT

    script(src='./assets/quotes-animation.js')
    script(src='./assets/anim-scroll.js')

    //script(src='https://rawgit.com/alvarotrigo/fullPage.js/dev/src/fullpage.js')
    //script.
        new fullpage('#js-fullpage', {
            sectionSelector: 'section'
        })
